.fbox{
    display: flex;
    flex-flow: row;
    margin: 2rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
}
.aside{ 
    float: right;
    margin-left: auto;
}
#rgt{
    border-left: 0.5px solid var(--grey-25);
    display: flex;
    flex-flow: column;
    width: 49%;
    justify-content: center;
    height: 70vh;
    margin-right: auto;
}
#lft{
    width:49%;
    margin-right: auto;
}