#bg{
    background: url(https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1093&q=80) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: -1;

}
#home{
    padding: 5rem;
    bottom: 20px;
    position: absolute;
}
#home h1{
    padding-bottom: 1rem;
}
